@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

.card-header{
  background-color:#00b0f0 !important;
  color: #ffffff;
  text-align: center;
}
html, body, header, .view {
    height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
}

.rgba-gradient {
  background-image: radial-gradient(circle 248px at center, #16d9e3c4 0%, #30c7ecc4 47%, #46aef7bf 100%);  }
.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

nav{
  padding:.5rem 1rem !important;
}

.navigation-bar {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
      box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 3px rgba(12, 13, 14, 0.1), 0 4px 20px rgba(12, 13, 14, 0.035), 0 1px 1px rgba(12, 13, 14, 0.025);
}
  .navigation-bar.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-60px);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  }
  
  .navigation-bar.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  }

.navbar-nav .nav-link {
  padding-right: .9rem !important;
  padding-left: .9rem !important;
  color: #cdbfe3;
}
  
.navbar-nav .nav-link.active{
  color:#eb3628;
}

header.masthead{
	text-align: center;
    color: #fff;
     position: relative;
   
}

header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
}

.skew{
      background-image:url('../images/person-light-people-girl-woman-hair-776310-pxhere.com.jpg');
  background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

section{
            padding: 100px 0;
}

footer{
padding: 150px 0;
background-color:#032B2F;
}

footer *{
  color:#d0d3c9;
}


footer *:hover{
  color:#fff;
}
section.about{
	position: relative;
          background-color:white;
}

section.about .section-heading{
  font-weight: bolder;
  color: #d73a31;
}


section.about .section-subheading{

}

section.about .g-color-white{
  background-color: #56b1bf;
  padding:22px;
  margin-bottom: 30px;
}

section.about .g-brd-gray {
    border-color: #eee !important;

        border-left: solid 1px #ebebeb !important;
                border-right: solid 1px #ebebeb !important;

}

section.about .grid p{
  font-size: 15px;
  color: #6b6868;
}
.why{
	position: relative;
          background-color:#d0d3c9;
                    padding: 100px 0;
}

.why .section-heading{
  font-weight: bolder;
  color: #d73a31;
}

section.blog{
	position: relative;
          background-color:white;
                    padding: 100px 0;
}



section.demo{
  position: relative;
          background:#d0d3c9;
          background-size: cover;
                    padding: 100px 0;
}



section.demo *{
  color:#ffffff;
}




.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
 
.edge--bottom *{
	-webkit-transform: skewY(0deg);
          transform: skewY(0deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}
